<section class="handmade-carousel">
    <div
        class="handmade-carousel__image-{{ images[activeImageIndex].index }} image"
        role="image"
        title="{{ images[activeImageIndex].alt }}"
        tabindex="1"
        >
    </div>
    <div
        class="button handmade-carousel__left-button"
        role="button"
        aria-label="Left button"
        tabindex="2"
        (click)="changeImage(-1)"
        (keyup)="$event.key === 'Enter' ? changeImage(-1) : null"
        >
        <app-control [icon]="typesIcons.left"></app-control>
    </div>
    <div
        class="button handmade-carousel__right-button"
        role="button"
        aria-label="Right button"
        tabindex="3"
        (click)="changeImage(1)"
        (keyup)="$event.key === 'Enter' ? changeImage(1) : null"
        >
        <app-control [icon]="typesIcons.right"></app-control>
    </div>
</section>
